extends layout

block content
  div.login-container
    div.login-header.login-caret
      div.login-content
        a.logo(href='#')
          img(src='/images/logo_login.png', alt='', width="200px")
        p.description
        // progress bar indicator
    div(ui-view)
