    <div class="login-content">
        <a class="btn btn-primary btn-block btn-login" ui-sref="register"> <i class="entypo-login"></i>
        Register
    </a>
    </div>
   <!-- <div class="login-form">
        <div class="login-content">
             <form method="post" role="form" id="form_login" novalidate="novalidate">
                 <div class="form-group">
                     <button class="btn btn-primary btn-block "> Register   <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>
                 </button> </div>
                    </form>
            </div>
        </div>-->

   <!-- link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")-->